
.hero {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  max-height: 400px; /* Adjust the height as needed */
}

.hero-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}